*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 200vh;
    width: 100%;

}

#fond{
    width: 100%;
    height: 40vh;
}

.carousel-item-active{
    width: 20%;
    height: 25vh;
    margin-top: 50px;
}

.carousel-inner{
    display: flex;
    justify-content: center;

}


.text{
    display: flex;
    justify-content: center;
    padding-top: 20px;
   
    
}
.fond{
    background-image: url(Annexes/background.jpg);
    background-repeat:no-repeat;
    background-size: cover ;
    height: 50vh;
    margin: 0px;
    color: white;
    width: 100%;
}
.text2{
    display: flex;
    justify-content: center;
    
}

