*{
    margin: 0;
    padding: 0;
}


body{
    height: 200vh;
}

#fond{
    width: 100%;
    height: 40vh;
}

.carousel-item-active{
    width: 20%;
    height: 25vh;
    margin-top: 50px;
}

.carousel-inner{
    display: flex;
    justify-content: center;

}